form {
  border: 2px solid black;
  height: auto;
  width: 500px;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 5px;
}
input {
  margin: 2em;
  padding: 1em;
}
button {
  margin: 2em;
  width: 10rem;
}
h1 {
  margin: 2em;
}