.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(340px, 1fr));
    /* grid-template-rows: repeat(auto, minmax(auto, 1fr)); */
    grid-gap: 2em;
}
.france {
    width: 300px;
    height: 200px;
    display: grid;
}
.france .color-one {
    grid-template-rows: 1fr;
    background: #002495;
}
.france .color-two {
    grid-template-rows: 1fr;
    background: #FFFFFF;
}

.france .color-three {
    grid-template-rows: 1fr;
    background: #ED2938;
}
.germany {
    width: 333px;
    height: 200px;
    display: grid;
}
.germany .color-one {
    background: #000000;
}
.germany .color-two {
    background: #DE0002;
}
.germany .color-three {
    background: #FFCE00;
}
.madagascar {
    width: 300px;
    height: 200px;
    display: grid;
    border: solid gray 1px;
}
.madagascar .color-one {
    background: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 2;
}    
.madagascar .color-two {
    background: #FC3E32;
    grid-column-start: 2;
    grid-column-end: 4;
}
.madagascar .color-three {
    background: #007E39;
    grid-column-start: 2;
    grid-column-end: 4;
}
.switzerland {
    display: grid;
    width: 200px;
    height: 200px;
    background: #FF0002;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.switzerland .vertical-line {
    background: #FFFFFF;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;;
}
.switzerland .horizontal-line {
    background: #FFFFFF;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;;
}
.sweden {
    display: grid;
    width: 320px;
    height: 200px;
    background: #0279A6;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.sweden .vertical-line {
    background: #FECC00;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 11;
}

.sweden .horizontal-line {
    background: #FECC00;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 7;
}
.gambia {
    display: grid;
    width: 300px;
    height: 200px;
    grid-template-rows: repeat(3, 1fr);
}
.gambia .color-one {
    background: #CE1127;
}
.gambia .color-two {
    background: #0D1D8B;
    margin-top: .7em;
    margin-bottom: .7em;
}
.gambia .color-three {
    background: #3B7827;
}
.japan {
    display: grid;
    width: 300px;
    height: 200px;
    background: #FFFFFF;
    border: solid gray 2px;
    align-items: center;
    justify-content: center;
}
.japan .color-one {
    background: #BC022C;
    border-radius: 50%;
    height: 7em;
    width: 7em;
}
.niger {
    display: grid;
    width: 233px;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.niger .color-one {
    background: #E15307;
    grid-row: 1/2;
    grid-column: 1/4;
}
.niger .color-two {
    display: grid;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
}
.niger .color-circle {
    background: #E15307;
    border-radius: 50%;
    width: 3.7em;
    height: 3.7em;
}
.niger .color-three {
    background: #10AF2A;
    grid-row: 3/4;
    grid-column: 1/4;
}
.tonga {
    display: grid;
    width: 400px;
    height: 200px;
    background: #C20002;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.tonga .box-one {
    grid-row: 1/2;
    grid-column: 1/3;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  repeat(9, 1fr);
}
.tonga .cross-horizontal {
    background: #C20002;
    grid-row: 4/6;
    grid-column: 2/5;
}

.tonga .cross-vertical {
    background: #C20002;
    grid-row: 2/8;
    grid-column: 3/4;
}