header {
    background-image: url("home-bg.jpeg");
    background: no-repeat center center;

}

.navbar-container {
    display: flex;
    justify-content: flex-end;
}

.navbar-container li {
    list-style: none;
    padding: 2em;
    
}
h1 {
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
}
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
.sub-header {
    font-size: 1.5rem;
}
.container {
    padding-right: 3rem;
    padding-left: 3rem;
}
.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.post-title {
    font-size: 2.25rem;
}
.post-subtitle {
    font-size: 1.75rem;
    font-weight: 300;
}
.blog-inner {
    width: 58.33%;
    flex: 0 0 auto;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.footer {
    text-align: center;
}