.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 3em;
}

div {
    margin: 3em;
}
input {
    padding: 1em;
    font-size: 1em;
}

button {
    padding: .5em;
    margin: 1em;
    font-size: 1em;
    width: 3em;
}
