.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    border: 3px solid black;
    border-radius: 10px;
}
div {
    margin: 3em;
}
input {
    padding: 1em;
    font-size: 1em;
}
button {
    padding: .4em;
    margin: 1em;
    font-size: 1.4em;
    width: 3em;
}
button[name='positiveSign'] {
    background-color: blue;
}
button[name='negativeSign'] {
    background-color: red;
}
button[name='multiSign'] {
    background: green;
}
.log {
    font-size: 1.4em;
}
.logAdd {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
}
.logSub {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
}
.logMulti {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
}